[Desktop Entry]
Type=Application
Exec=python /usr/share/slimbooktouchpad/startpreferences.py
Icon=/usr/share/pixmaps/slimbooktouchpad.png
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[es_ES]=SlimbookTouchpadPreferences
Name=Slimbook Touchpad Autostart
Comment[es_ES]=Arranque de autoinicio de Slimbook Touchpad
Comment=Slimbook Touchpad's autostart executable
X-GNOME-Autostart-Delay=2
